# Python
__pycache__/
*.py[cod]
*$py.class
.venv/
env/
venv/

# LaTeX
*.aux
*.log
*.out
*.synctex.gz
*.toc
*.fls
*.fdb_latexmk
*.pdf

# VS Code
.vscode/

# Results (optional, keep if you want sample results in repo)
# results/

# LaTeX source - ignore whole directory
latex/